@keyframes smoothnessMenu {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.customMenu {
  display: flex;
  box-sizing: border-box;
}

.menu {
  display: flex;
  max-width: 66px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: smoothnessMenu;
  animation-duration: 0.3s;
  gap: 15px;
  position: absolute;
  padding: 7px 22px;
  box-sizing: border-box;
  right: 23px;
  bottom: -87px;
  background: #282828;
  border-radius: 0px 0px 8px 8px;
}

.profileIcon {
  display: flex;
  align-items: center;

  > div {
    display: flex;
  }
}

.profile {
  position: relative;
}

.button {
  display: flex;
  background: none;
  align-items: center;
  box-sizing: border-box;
  transition: background 0.5s;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.button:hover {
  path {
    fill: #fff;
    transition: fill 0.5s ease-in-out;
  }
}

.button:not(:active) {
  path {
    transition: fill 0.5s ease-in-out;
  }
}
