.loginForm {
  display: flex;
  max-width: 620px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 102px 52px;
  font-family: 'Roboto';
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.33);
  background: var(--blackLightColor);
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 8px;

  .loginElementsGroup {
    display: flex;
    max-width: 510px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: var(--blackLightColor);
    text-transform: uppercase;
    gap: 77px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  .titleLogin {
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    color: var(--whiteColor);
  }

  .loginInput {
    background: var(--whiteColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    color: var(--blackColor);
  }

  .loginFormGroup {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .loginInputGroup > label {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--whiteColor);
  }

  .buttonForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 213px;
    gap: 13px;
    border: none;
  }

  .buttonForm > label {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.29);
  }
}
