.container {
  display: flex;
  gap: 5px;

  .speechText {
    background: none;
    border: none;
    display: flex;
    margin-top: 1px;
    align-items: center;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
  }
}
