.redLightButton {
  padding: 14px 62px;
  font-family: 'Roboto';
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: 0.5s background;
  text-transform: uppercase;
  color: var(--whiteColor);
  background: #bc3333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.redLightButton:hover {
  background: #d34545;
}

.redLightButton:active {
  background: #d46f6f;
}

.blackLightButton {
  border: none;
  background: #3a3a3a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 15px 57px;
  font-family: 'Roboto';
  font-style: normal;
  transition: background 0.5s;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: var(--whiteColor);
}

.blackLightButton:hover {
  cursor: pointer;
  background: #4c4b4b;
}

.blackLightButton:active {
  background: #6b6a6a;
}