.header {
  z-index: 5;
  position: relative;
  box-sizing: border-box;
  padding-top: 17px;
}

.addNote {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  transition: background 0.5s;
  border-radius: 8px;
  align-items: center;
}

.addNote:hover {
  cursor: pointer;
  background: #7c7c7c30;
}

.addNote:active {
  background: #494848;
}

.menuButton {
  display: flex;
  box-sizing: border-box;
  border: none;
  padding: 5px;
  background: none;
  transition: background 0.5s;
  border-radius: 8px;
  align-items: center;
}

.menuButton:hover {
  cursor: pointer;
  background: #7c7c7c30;
}

.menuButton:active {
  background: #494848;
}
