html {
  /* Colours */
  --whiteColor: #fff;
  --blackColor: #000;
  --blackLightColor: #2c2c2c;
  --blackLightBackgroundColor: #2e2e2e;
  --grayColor: #3a3a3a;
  --grayColorHover: #414141;
  --grayColorActive: #575555;
  --redDarkColor: #a02626;
  --redDarkColorHover: #cf3131;
  --redDarkColorActive: #e83939;
  /* Gradients */

  --redLightGradient: linear-gradient(
    265.6deg,
    #bd4a4a -33.16%,
    #c41c1c 101.82%
  );
}
