html {
  /* Colours */
  --whiteColor: #fff;
  --blackColor: #000;
  --blackLightColor: #2c2c2c;
  --blackLightBackgroundColor: #2e2e2e;

  /* Gradients */

  --redLightGradient: linear-gradient(
    265.6deg,
    #bd4a4a -33.16%,
    #c41c1c 101.82%
  );
}
