@keyframes infiniteColorText {
  0% {
    color: #7d7c7c;
  }

  20% {
    color: #c7c7c7;
  }

  40% {
    color: #f1efef;
  }

  60% {
    color: #fff8f8;
  }

  80% {
    color: #ffffff;
  }

  100% {
    color: #7d7c7c;
  }
}

.settings__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #b1b1b1;
  animation: infiniteColorText 7s linear infinite;
}

.crossIcon {
  display: flex;
  max-height: 18px;
  cursor: pointer;
  max-width: 18px;
  position: absolute;
  right: 40px;
  top: 40px;

  div {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.modalBox {
  display: flex;
  padding: 245px 190px;
}
