@keyframes infiniteColorText {
  0% {
    color: #7d7c7c;
  }

  20% {
    color: #c7c7c7;
  }

  40% {
    color: #f1efef;
  }

  60% {
    color: #fff8f8;
  }

  80% {
    color: #ffffff;
  }

  100% {
    color: #7d7c7c;
  }
}

.modal {
  padding: 1% !important;
}

.settings__title {
  font-weight: 600;
  font-size: 50px;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #b1b1b1;
  animation: infiniteColorText 7s linear infinite;
}

.crossIcon {
  display: flex;
  max-height: 18px;
  cursor: pointer;
  max-width: 18px;
  position: absolute;
  right: 40px;
  top: 40px;

  div {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.modalBox {
  display: flex;
  padding: 15% 25%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 1% !important;
  }

  .modalBox {
    padding: 20%;
    .settings__title {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 380px) {
  .modal {
    padding: 1% !important;
  }

  .modalBox {
    padding: 15%;
    .settings__title {
      font-size: 30px;
    }

    .crossIcon {
      width: 15px;
      top: 20px;
      right: 20px;
    }
  }
}
