.header-notes {
  margin-bottom: 14px;
  background: #242424;
  box-sizing: border-box;
  padding: 10px 35px;
}

.grid-view-icon {
  font-size: 1.6em !important;
}

.list-view-icon {
  font-size: 1.7em !important;
}
