.header-notes {
  margin-bottom: 14px;
  background: #242424;
  box-sizing: border-box;
  padding: 10px 35px;
}

// .back-button {
//   width: 41px;
//   justify-content: center;
//   transition: 0.5s;
// }

// .back-button:active {
//   background: #414141 !important;
// }

.grid-view-icon {
  font-size: 1.6em !important;
}

.list-view-icon {
  font-size: 1.7em !important;
}
