@keyframes smooth {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;

  .upperCaseIcon {
    > div {
      display: flex;
    }
  }
}

.notePageForm {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  background: #1c1c1c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 10px 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 30px !important;
  font-family: 'Roboto';
  max-width: 100%;
  min-width: 50%;
  min-height: 100px;
  resize: none;
  outline: none;
  color: #fff;
  background: none !important;
  border-radius: 12px;
  background-color: #2e2e2e;
  border: none;
  line-height: 35px;
}

.title {
  font-size: 50px !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
  max-width: 100%;
  min-width: 50%;
  border-bottom: none;
  outline: none;
  color: #fff !important;
  border-radius: 12px;
  background: none !important;
  border: none;
  line-height: 35px;
}

.notePageStatusActive {
  transition: 0.5s;
  animation-name: smooth;
  animation-duration: 0.7s;
}

.notePageStatus {
  transition: 0.5s;
  animation-name: hide;
  animation-duration: 0.7s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.deleteModal {
  display: flex;
  box-sizing: border-box;
  background: #181818;
  border-radius: 12px;
  padding: 43px 10%;
}

.deleteModalContainer {
  gap: 50px;
  padding: 0;
  background: inherit;
  display: flex;
  box-shadow: none;
  box-sizing: border-box;

  h1 {
    max-width: none !important;
  }

  .modalActions {
    display: flex;
    gap: 41px;
    box-sizing: border-box;
  }

  .modalCanselDeleteButton {
    background: var(--grayColor);
    transition: background 0.5s;
    border-radius: 4px;
    color: var(--whiteColor);
    padding: 14px 44px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
  }

  .modalConfirmDeleteButton {
    background: var(--redDarkColor);
    transition: background 0.5s;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--whiteColor);
    padding: 14px 44px;
    border: none;
    cursor: pointer;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
  }

  .modalConfirmDeleteButton:hover {
    background: var(--redDarkColorHover);
  }

  .modalConfirmDeleteButton:active {
    background: var(--redDarkColorActive);
  }

  .modalCanselDeleteButton:hover {
    background: var(--grayColorHover);
  }

  .modalCanselDeleteButton:active {
    background: var(--grayColorActive);
  }
}

.modal {
  .backdrop {
    background: #fff;
  }
}

// Adaptive

@media screen and (max-width: 425px) {
  .header {
    padding: 10px !important;
  }

  .title {
    font-size: 30px !important;
  }

  .deleteButton {
    line-height: 15px;
  }

  .deleteModal {
    padding: 20px;

    .modalActions {
      gap: 30px;
    }

    .modalConfirmDeleteButton {
      font-size: 16px;
      padding: 6px 30px;
    }

    h1 {
      font-size: 23px !important;
    }

    .modalCanselDeleteButton {
      font-size: 16px;
      padding: 6px 30px;
    }
  }

  .description {
    font-size: 20px !important;
  }
}
