@keyframes smooth {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.notePageForm {
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: 400;
  font-size: 30px;
  font-family: 'Roboto';
  max-width: 100%;
  min-width: 50%;
  min-height: 100px;
  resize: none;
  outline: none;
  color: #fff;
  background: none !important;
  border-radius: 12px;
  background-color: #2e2e2e;
  border: none;
  line-height: 35px;
}

.title {
  font-size: 50px !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
  max-width: 100%;
  min-width: 50%;
  border-bottom: none;
  outline: none;
  color: #fff !important;
  border-radius: 12px;
  background: none !important;
  border: none;
  line-height: 35px;
}

.notePageStatusActive {
  transition: 0.5s;
  animation-name: smooth;
  animation-duration: 0.7s;
}

.notePageStatus {
  transition: 0.5s;
  animation-name: hide;
  animation-duration: 0.7s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.deleteModal {
  background: #181818;
  padding: 43px 165px;
  gap: 50px;
}

.deleteModal > span {
  max-width: none;
}

.modalActions {
  display: flex;
  gap: 41px;
  box-sizing: border-box;
}

.modalCanselDeleteButton {
  background: var(--grayColor);
  transition: background 0.5s;
  border-radius: 4px;
  color: var(--whiteColor);
  padding: 14px 44px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.modalConfirmDeleteButton {
  background: var(--redDarkColor);
  transition: background 0.5s;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--whiteColor);
  padding: 14px 44px;
  border: none;
  cursor: pointer;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.modalConfirmDeleteButton:hover {
  background: var(--redDarkColorHover);
}

.modalConfirmDeleteButton:active {
  background: var(--redDarkColorActive);
}

.modalCanselDeleteButton:hover {
  background: var(--grayColorHover);
}

.modalCanselDeleteButton:active {
  background: var(--grayColorActive);
}

.modal {
  .backdrop {
    background: #fff;
  }
}